doctype html
| PASTE YOUR HTML CODE HERE
head
  title Pug
h1=message
#container.col
  p You are amazing
  
a(href='/secret/register') click here to back 


a(href='/secret/Login') click here to Login 
